body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  max-width: 800px;
}

b {
  color: midnightblue;
}

footer {
  text-align: right;
  color: midnightblue;
}

.card {
  width: 45%;
}

.tile-image {
  height: 200px;
  float: left;
  margin: 0px 50px 0 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 700px) {
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card{
    width: 100%;
  }
  .card img{
    display: inline;
    object-fit: cover;
    width: 100%;
    margin: 10px;
  }
}